/* 1. Reset et variables */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-red: #E30613;
    --bg-white: #F0F0F0;
    --text-black: #000;
}

body {
    font-family: 'Arial Black', sans-serif; /* À remplacer par une police plus stylée */
    background-color: var(--bg-white);
    overflow-x: hidden;
}

.hero {
  position: relative;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.bg-name {
  position: absolute;
  font-size: 15vw;
  font-weight: 900;
  color: var(--red);
  z-index: 1;
  line-height: 1;

  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: -0.08em;
}


.player-img {
    position: relative;
    height: 90vh;
    z-index: 2; /* Passe devant le nom rouge */
}

.quote {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 300px;
    z-index: 3;
    font-size: 0.9rem;
}